@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background: #dfe9f5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

nav {
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 20%;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

nav a {
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 16px;
  display: table;
  width: 285px;
  padding: 8px;
  font-weight: 700;
}

.logo {
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 10px 0 0 10px;
}

.logo img {
  width: 45px;
  height: 45px;
}

.logo span {
  font-weight: bold;
  padding-top: 1px;
  padding-left: 12px;
  font-size: 18px;
  text-transform: uppercase;
}

.sub-logo {
  display: flex;
  margin: 8px 0 0 12px;
}
.sub-logo img {
  position: relative;
  bottom: 3px;
  width: 20px;
  height: 40px;
  font-size: 20px;
}

.nav-logo {
  position: relative;
  top: 7px;
  margin-left: 10px;
}

.nav-item {
  position: relative;
  top: 7px;
  margin-left: 20px;
}

.logout {
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 10px 0 0 10px;
  position: absolute;
  bottom: 0;
}

.logout img {
  position: relative;
  width: 20px;
  height: 40px;
  font-size: 20px;
  text-align: center;
}

a:hover {
  background: #eee;
}

.submit {
  text-align: right;
}

.login-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background: white;
  border-radius: 12px;
}

.login-content-header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 20px 0;
  width: 20%;
}

.login-content-header h1 {
  text-align: center;
  padding: 20px 0 20px 0;
}

.login-content form {
  padding: 0 40px;
  box-sizing: border-box;
}
form .login-content-text {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.login-content-text input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.login-content-text label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s;
}

.login-content-text span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.3s;
}

.login-content-text input:focus ~ label,
.login-content-text input:valid ~ label {
  top: -5px;
  color: #2691d9;
}

.login-content-text input:focus ~ span::before,
.login-content-text input:valid ~ span::before {
  width: 100%;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover {
  border-color: #2691d9;
  transition: 0.3s;
}

.login-footer {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.login-footer a {
  color: #2691d9;
}

.login-footer a:hover {
  text-decoration: underline;
}

main.table {
  background-color: #fff;
  box-shadow: 0 0.2rem 0.3rem #0005;
  border-radius: 0.8rem;
  margin: 2% 0 2% 20%;
  width: 75%;
  height: 100%;
  background-color: #fff;
  border-radius: 0.6rem;
}

table {
  width: 100%;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #2691d9;
  color: #e9f4fb;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
  color: #2691d9;
}

tbody tr:hover {
  background-color: #eee;
}

table,
td,
th {
  border-collapse: collapse;
  padding: 1rem;
  text-align: center;
  font-size: 20px;
}

.table-header {
  width: 100%;
  height: 5%;
  padding: 12px;
  font-size: 24px;
  text-align: center;
  color: #2691d9;
}

.table-header p {
  width: 100%;
  height: 5%;
  padding: 12px;
  font-size: 20px;
  text-align: center;
  color: black;
}

.table-header input[type="text"] {
  padding: 10px;
  margin: 12px 12px 12px 0;
  width:  100%;
}

.content-header{
  padding: 10px;
}

.tombol-header{
  padding: 10px;
  background: #2691d9;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

.tombol-header:hover{
  background: #2686c7;
}

.tambah input[type="text"] {
  float: left;
  text-align: center;
  width: 80%;
}

.tambah input[type="submit"] {
  width: 20%;
  font-size: 24px;
  padding: 10px;
  text-align: center;
  display: inline-block;
}

.text-siswa input[type="text"] {
  float: left;
  padding: 10px;
  margin: 26px 12px 12px 0;
  width: 87.8%;
}

.table-body {
  border-radius: 0.6rem;
}

.table-body img {
  width: 24px;
}

.table-body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table-body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table-body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.status-lunas {
  text-align: center;
  background-color: #86e49d;
  color: #006b21;
}

.status-belumlunas {
  text-align: center;
  background-color: #d893a3;
  color: #b30021;
}

main.content {
  background-color: #fff;
  box-shadow: 0 0.2rem 0.3rem #0005;
  border-radius: 0.8rem;
  margin: 2% 0 2% 20%;
  width: 75%;
  height: 100%;
  background-color: #fff;
  color: #e9f4fb;
}

.header {
  width: 100%;
  height: 5%;
  padding: 12px;
  font-size: 24px;
  text-align: left;
  color: #2691d9;
}
.card {
  padding: 0 12px 12px 12px;
  float: left;
  width: 100%;
}

.desc {
  font-size: 16px;
  font-weight: normal;
}

.body-kelas {
  background: #0dcaf0;
  width: 100%;
  padding: 8px 20px 20px 12px;
  border-radius: 0.7rem;
  font-size: 22px;
}

.body-kelas:hover {
  background: #0ec1e6;
}

.body-siswa {
  background: #0dcaf0;
  width: 100%;
  padding: 8px 20px 20px 12px;
  border-radius: 0.7rem;
  font-size: 22px;
}

.body-siswa:hover {
  background: #0ec1e6;
}

.body-petugas {
  background: #0dcaf0;
  width: 100%;
  padding: 8px 20px 20px 12px;
  border-radius: 0.7rem;
  font-size: 22px;
}

.body-petugas:hover {
  background: #0ec1e6;
}

.body-transaksi {
  background: #fd7e14;
  width: 100%;
  padding: 8px 20px 20px 12px;
  border-radius: 0.7rem;
  font-size: 22px;
}

.body-transaksi:hover {
  background: #ed7815;
}

.body-pembayaran {
  background: #198754;
  width: 100%;
  padding: 8px 20px 20px 12px;
  border-radius: 0.7rem;
  font-size: 22px;
}

.body-pembayaran:hover {
  background: #17784b;
}

.body-status {
  background: #dc3545;
  width: 100%;
  padding: 8px 20px 20px 12px;
  border-radius: 0.7rem;
  font-size: 22px;
}

.body-status:hover {
  background: #c92e3d;
}

.body-status-lunas {
  background: #20c997;
  width: 100%;
  padding: 8px 20px 20px 12px;
  border-radius: 0.7rem;
  font-size: 22px;
}

.body-status-lunas:hover {
  background: #22bd8f;
}

.paging {
  padding: 20px 0 10px 0;
  display: inline-block;
}

.paging a {
  color: #fff;
  float: left;
  padding: 8px;
  border-right: 2px solid #fff;
  background-color: #2691d9;
}

.paging a:hover {
  text-decoration: underline;
}

.input-header {
  width: 100%;
  height: 5%;
  padding: 12px;
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid silver;
  color: #2691d9;
}

main.input {
  background-color: #fff;
  box-shadow: 0 0.2rem 0.3rem #0005;
  border-radius: 0.8rem;
  margin: 2% 0 2% 20%;
  width: 75%;
  height: 100%;
  background-color: #fff;
  border-radius: 0.6rem;
  padding: 0 25px 25px 25px;
}

.input-body {
  width: 100%;
  margin-top: 20px;
}

.input-body input[type="text"],
.input-body input[type="number"],
.input-body input[type="date"] {
  height: 50px;
  width: 100%;
  border: 2px solid #e5e5e5;
  border-radius: 6px;
  outline: none;
  font-size: 1rem;
  background-color: #f9f9f9;
  padding: 0 7px 0 7px;
}

.input-body input[list] {
  height: 50px;
  width: 100%;
  border: 2px solid #e5e5e5;
  border-radius: 6px;
  outline: none;
  font-size: 1rem;
  background-color: #f9f9f9;
  padding: 0 7px 0 7px;
}

.input-body label {
  color: #2691d9;
}

.input-body p{
  color: red;
}

.form :where(.input-body input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  font-size: 1rem;
  margin-top: 8px;
  background-color: #f9f9f9;
  border: 2px solid #e5e5e5;
  border-radius: 6px;
  padding: 0 12px 0 12px;
}

.input-body input:focus {
  outline: 0;
  border-color: #00425a;
}

.form .column {
  margin-top: 20px;
  align-items: center;
  column-gap: 5px;
}

.select-body select {
  height: 50px;
  width: 100%;
  border: 2px solid #e5e5e5;
  border-radius: 6px;
  outline: none;
  font-size: 1rem;
  background-color: #f9f9f9;
  padding: 0 7px 0 7px;
}

.select-body select:focus {
  outline: 0;
  border-color: #00425a;
}

.select-body label {
  color: #2691d9;
}

.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 30px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #2691d9;
}

.form button:hover {
  border-radius: 12px;
  transition: 0.2s;
  border-color: #2691d9;
}

.table-body .bayar {
  text-align: center;
  background-color: #198754;
  color: #fff;
  padding: 5px 10px 5px 10px;
  width: 10%;
}

.table-body .bayar:hover {
  background: #17784b;
}

.table-body .daftar {
  text-align: center;
  background-color: #0dcaf0;
  color: #fff;
  padding: 5px 49px 5px 49px;
  width: 10%;
}

.table-body .daftar:hover {
  background: #0ec1e6;
}

.table-body .edit {
  text-align: center;
  background-color: #0dcaf0;
  color: #fff;
  padding: 5px 20px 5px 20px;
  width: 10%;
}

.table-body .edit:hover {
  background: #0ec1e6;
}

.form::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  display: none;
}

.form::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.tab-layout{
  display: flex;
  flex-wrap: wrap;
  max-width: 400;
}

.tab-radio{
  display: none;
}

.tab-label{
  padding: 10px 16px;
}

.tab-konten{
  order: 1;
  width: 100%;
  line-height: 1.5;
  font-size: 0.9em;
  display: none;
}

.tab-radio:checked+.tab-label{
  font-weight: 500;
  color: #2686c7;
  border-bottom: 3px solid #2686c7;
}

.tab-radio:checked+.tab-label+.tab-konten{
  display: inline-block;
}

.page-contents{
  max-width: 100%;
  width: 500px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}

@media print{
		.print{
			display: none;	
		}
    main.table {
      margin: 0;
      width: 100%;
      font-size: 10px;
      background: none ;
      box-shadow: none;
    }
	}
